index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-admin/
wp-includes/
.DS_Store
.vscode/

wp-db-data/
.env
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/cocoon/

!wp-content/themes/cocoon-child/